:root {
  --pink-96: hsl(0, 56%, 96%);
  --pink-90: hsl(0, 56%, 90%);
  --pink-53: hsl(0, 36%, 53%);

  --spaced-words: 0.2rem;
}
body {
  font-family: "Open Sans", arial, sans-serif;
}

h1 {
  font-size: 1.375rem;
  letter-spacing: 0.045em;
  font-weight: 400;
  color: #1b1b1b;
  margin: 0 0 24px 0;
}

ul {
  padding: 0;
}

section {
  margin-bottom: 5rem;
}

#logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 2rem);
  max-width: 100%;
}

#logo-wrapper img {
  object-fit: contain;
}

header {
  display: flex;
  justify-content: center;
  height: 4rem;
}
nav {
  display: flex;
  align-items: center;
}
nav ul {
  max-width: 65rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  letter-spacing: var(--spaced-words);
  font-weight: 400;
  text-transform: uppercase;
}
nav ul li {
  list-style-type: none;
  padding: 0rem 1rem;
}

.welcome {
  max-width: 37rem;
  text-align: center;
  margin: 2.5rem 0;
  padding: 3rem;
  background-color: var(--pink-90);
  letter-spacing: 0.025em;
}

.welcome h1 {
  letter-spacing: var(--spaced-words);
}

.main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

main {
  max-width: calc(1180rem / 16);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.what-we-love {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.what-we-love h2 {
  font-size: calc(18rem / 16);
  text-transform: uppercase;
  color: var(--pink-53);
  margin-bottom: 32px;
  letter-spacing: var(--spaced-words);
  font-weight: 400;
}

.what-we-love div {
  align-self: center;
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}

.what-we-love div article {
  background-color: var(--pink-96);
  flex-basis: 100%;
  width: 100%;
  max-width: calc(100vw - 1rem);
  text-align: center;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.what-we-love div article p {
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  .what-we-love div article {
    max-width: calc(100vw / 2 - 2.5rem);
  }
}

@media screen and (min-width: 1180px) {
  .what-we-love div article {
    max-width: calc(1180px / 4 - 2rem);
  }
}

h3 {
  margin: 1.5rem;
}
.what-we-love div article img {
  width: 100%;
  /* -webkit-clip-path: inset(30px 10px 30px 10px); */
  /* clip-path: circle(75px at 50% 50%) */
  margin-bottom: 2rem;
}
