:root {
  --pink-96: hsl(0, 56%, 96%);
  --pink-90: hsl(0, 56%, 90%);
  --pink-3: hsl(0, 63%, 76%);
  --button-light: hsl(0, 60%, 84%);
  --pink-53: hsl(0, 36%, 53%);

  --spaced-words: 0.2rem;
}
body {
  font-family: "Open Sans", arial, sans-serif;
}

h1 {
  font-size: 1.375rem;
  letter-spacing: 0.045em;
  font-weight: 400;
  color: #1b1b1b;
  margin: 0 0 24px 0;
  letter-spacing: var(--spaced-words);
}

h2 {
  font-size: calc(18rem / 16);
  text-transform: uppercase;
  color: var(--pink-53);
  margin-bottom: 32px;
  letter-spacing: var(--spaced-words);
  font-weight: 400;
}

h3 {
  color: #1b1b1b;
  margin: 1.5rem;
  letter-spacing: 0.045em;
  font-size: 22px;
  font-weight: 400;
}

ul {
  padding: 0;
}

section {
  margin-bottom: 5rem;
}

#logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 2.2rem);
  max-width: 100%;
}

#logo-wrapper img {
  object-fit: contain;
}

header {
  display: flex;
  justify-content: center;
  height: 4rem;
}
nav {
  display: flex;
  align-items: center;
}
nav ul {
  max-width: 65rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  letter-spacing: var(--spaced-words);
  font-weight: 400;
  text-transform: uppercase;
}
nav ul li {
  list-style-type: none;
  padding: 0rem 1rem;
}

.welcome {
  max-width: 37rem;
  text-align: center;
  margin: 2.5rem 0;
  padding: 3rem;
  background-color: var(--pink-90);
  letter-spacing: 0.025em;
}

.main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

main {
  max-width: calc(1180rem / 16);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.what-we-love {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.what-we-love div {
  align-self: center;
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.what-we-love div article {
  background-color: var(--pink-96);
  flex-basis: 100%;
  width: 100%;
  max-width: calc(100vw - 1rem);
  text-align: center;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

 article p {
  padding: 0 1rem;
  line-height: 1.5;
  color: rgb(94, 94, 94);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.what-we-love div article h3 {
    position: relative;
}
.what-we-love div article h3 .visible-heading {
    position: absolute;
    justify-content: center;
}

.what-we-love div article h3 .positioning-heading {
    position: relative;
    visibility: hidden;
}
.what-we-love div article h3 {
    position: relative;
}
.what-we-love div article h3 .visible-heading {
    position: absolute;
    justify-content: center;
}

.what-we-love div article h3 .positioning-heading {
    position: relative;
    visibility: hidden;
}

@media screen and (min-width: 768px) {
  .what-we-love div article {
    max-width: calc(100vw / 2 - 2.5rem);
  }
}

@media screen and (min-width: 1180px) {
  .what-we-love div article {
    max-width: calc(1180px / 4 - 2rem);
  }
}

.what-we-love div article img {
  width: 100%;
  margin-bottom: 2rem;
}

.supporting-other-businesses img {
  width: 100%;
}

.supporting-other-businesses article {
  background-color: var(--pink-96);
  text-align: center;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.supporting-other-businesses article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.supporting-other-businesses article p {
  max-width: 900px;
}

.supporting-other-businesses a.button {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3.424px;
}

.button {
    background-color: var(--pink-3);
    padding: 1.5rem;
    margin-top: 0.5rem;
    text-decoration: none;
    color: black;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px -10px;
  outline-color: black;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
  cursor: pointer;
  background-color: var(--button-light);
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 80px;
}

.arrows path {
  stroke: var(--pink-3);
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 14s infinite;
  /* animation-duration: 14s;
  animation-iteration-count: infinite; */
  opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes arrow {
    0% { opacity: 0; }
    14% { opacity: 0; } /* 2s */
    18% { opacity: 1; } /* 2.5s */
    22% { opacity: 0; } /* 3s */
    100% { opacity: 0; }
  }

  .arrows path.a1 {
    animation-delay: 0s;
  }

  .arrows path.a2 {
    animation-delay: 0.2s;
  }

  .arrows path.a3 {
    animation-delay: 0.4s;
  }
}